@media screen and (max-width:450px) {
    .row{
        flex-wrap: wrap;
    }
    footer .row p{
        width: 100%!important;
        margin: 10px 0!important;
    }
}
@media screen and (max-width:900px) { 
    .side-left{
        /* display: none; */
    }
    .side-right{
        /* display: none; */
    }
    .header-side{
        position: relative;
        height:auto;
        width: 100%;
        display: flex;
        display: none;
    }
    /* .header-side > .item{
        height: 50px;
        width: 14%;
    } */
}
@media screen and (max-width:992px) {
    .search-button{
        display: none;
    }
    .header-side{
        bottom: 0;
    }
    /* ----------start blog.index----------  */
    /* of recents post*/
    .recents-posts h2, .recents-posts .created-date, .recents-posts h3{
        text-align: center !important;
      }
      .recents-posts span{
          font-size: 14px;
      }
      .recents-post .col-md-6{
          min-width: 100%;
          margin-bottom: 15px;
      }
      .recents-post .recent-overlay {
          font-size: 30px;
      }
    /*of breadcrumb and content-list*/
      .breadcrumb{
        width:80% ;
        margin: 20px auto 50px;
        }
    .breadcrumb-item {
        margin: auto;
    }
    
}



/* categories */
@media only screen and (max-width: 900px)  and (min-width:500px){
  

    .categories h2{
        text-align: center;
    }
    .categories .row{
        margin: 0px !important;
    }
    .categories .tab-img img{
    margin-bottom: 15px;
    width: 100%;
    }
    .categories .col-md-7 .tab-content{
        padding: 0px !important;
    }
    
    
    
    }
    @media only screen and (max-height : 1280px) and (min-height: 1024px) {
        .categories .row  {
            margin: 0px !important;
        } 
       
        .categories .col-md-5{
            width: 70%;
            margin: auto;
        }
       .categories .col-md-7{
           margin: auto;
           width: 70%;
       }
        .categories .by{
            margin-top: 15px !important;
        }
        .categories .tab-content{
            text-align: center;
        }
       
    }

    /* categories */
@media only screen and (max-width: 900px)  and (min-width:500px){
    .categories .col-md-3{
        width: 50%;
    }
    .categories h2{
        margin: auto;
        margin-bottom: 20px;
        
    }
    
}